@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: -10;
    font-family: "Press Start 2P";
    background-image: url("./index-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:screen;
    animation: body-fade-in-anime 0.5s linear forwards;
}

@keyframes body-fade-in-anime {
    0%, 50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.title-con {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    letter-spacing: 10px;
}   

.main-title {
    position: absolute;
}

#upper-title{
    z-index: 10;
    animation: glitch-upper-anime 2s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

/* #middle-title {
    text-shadow: 0.075em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.075em 0 rgba(0, 255, 0, 0.75),
        0.05em 0.075em 0 rgba(0, 0, 255, 0.75);
    animation: glitch-anime 2s linear infinite;
} */

#lower-title{
    z-index: 10;
    animation: glitch-lower-anime 1.5s linear infinite;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes glitch-upper-anime {
    0% {
        text-shadow: 0.075em 0 0 rgba(255, 0, 0, 0.75),
        0.05em 0.075em 0 rgba(0, 0, 255, 0.75),
        -0.05em -0.075em 0 rgba(0, 255, 0, 0.75);
    }

    34% {
        transform: translateX(0em);
        text-shadow: 0.075em 0 0 rgba(255, 0, 0, 0.75),
        0.05em 0.075em 0 rgba(0, 0, 255, 0.75),
        -0.05em -0.075em 0 rgba(0, 255, 0, 0.75);
    }

    35% {
        text-shadow: -0.075em -0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.075em -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    60% {
        transform: translateX(0em);
        text-shadow: -0.075em -0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.075em -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    65% {
        transform: translateX(-0.1em);
        text-shadow: 0.05em 0.075em 0 rgba(255, 0, 0, 0.75),
            0.075em 0 0 rgba(0, 255, 0, 0.75), 0 -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    77% {
        transform: translateX(0em);
        text-shadow: 0.05em 0.075em 0 rgba(255, 0, 0, 0.75),
            0.075em 0 0 rgba(0, 255, 0, 0.75), 0 -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow: 0.05em 0.075em 0 rgba(255, 0, 0, 0.75),
            0.075em 0 0 rgba(0, 255, 0, 0.75), 0 -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: 0.075em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.075em 0 rgba(0, 255, 0, 0.75),
        0.05em 0.075em 0 rgba(0, 0, 255, 0.75);
    }
}

@keyframes glitch-lower-anime {
    0% {
        text-shadow: 0.075em 0 0 rgba(255, 0, 0, 0.75),
            -0.075em -0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em 0.075em 0 rgba(0, 0, 255, 0.75);
    }

    34% {
        text-shadow: 0.075em 0 0 rgba(255, 0, 0, 0.75),
            -0.075em -0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em 0.075em 0 rgba(0, 0, 255, 0.75);
        transform: translateX(0em);
    }

    35% {
        text-shadow: -0.075em -0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.075em -0.075em 0 rgba(0, 0, 255, 0.75);
        transform: translateX(0.1em);
    }

    60% {
        text-shadow: -0.075em -0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.075em -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    65% {
        transform: translateX(0em);
        text-shadow: 0.05em 0.075em 0 rgba(255, 0, 0, 0.75),
            0.075em 0 0 rgba(0, 255, 0, 0.75), 0 -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow: 0.05em 0.075em 0 rgba(255, 0, 0, 0.75),
            0.075em 0 0 rgba(0, 255, 0, 0.75), 0 -0.075em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.075em 0 rgba(0, 0, 255, 0.75);
        transform: translateX(0em);
    }
}

.go-anchor {
    display: flex;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    scale: 1.5;
}

.go-arrow{
    color: black;
}
.go-anchor:hover{
    text-shadow: 0em 0em 2em #14f7ff;
}

.go-arrow:nth-child(1){
    animation: go-anime 3s linear infinite;
}
.go-arrow:nth-child(2){
    animation: go-anime 3s linear infinite 0.1s;
}
.go-arrow:nth-child(3){
    animation: go-anime 3s linear infinite 0.2s;
}
.go-arrow:nth-child(4){
    animation: go-anime 3s linear infinite 0.3s;
}
.go-arrow:nth-child(5){
    animation: go-anime 3s linear infinite 0.4s;
}

@keyframes go-anime {
    0%{
        color: #14f7ff;
    }
    80%{
        color: #14f7ff;
    }
    100%{
        color: rgb(0, 0, 0);
    }
}

.credits{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-family: "Poppins";
}
